@import "tailwindcss";

h1 {
  font-family: var(--font-manrope), sans-serif;
}
input:focus {
  outline: none;
}
body {
  background-color:#F9FAFB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}