@import "tailwindcss";

h1 {
  font-family: var(--font-manrope), sans-serif;
}
input:focus {
  outline: none;
}
body {
  background-color:#F9FAFB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.my-progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;      
  height: 10px;         
  border-radius: 9999px;
  overflow: hidden;
}

.my-progress::-webkit-progress-bar {
  background-color: #E5E7EB;
}

.my-progress::-webkit-progress-value {
  background-color: #8b5cf6;   
  border-radius: 9999px;
}

.my-progress::-moz-progress-bar {
  background-color: #8b5cf6;
}
